body{
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.FirstView{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        width: 240px;
        height: 720px;
        bottom: 0;
        left: 0;
        background: url(../img/BookLeft.png) no-repeat;
    }
    &::after{
        content: "";
        position: absolute;
        width: 240px;
        height: 720px;
        top: 0;
        right: 0;
        background: url(../img/BookRight.png) no-repeat;
    }
    
    .FirstBox{
        width: 100%;
        display: flex;


        .FirstTitle{
            width: 60%;
            height: 100vh;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            p{
                font-size: 32px;
    
                span{
                    font-size: 40px;
                    color: #B6DFD7;
                    margin-left: 2em;
                    text-shadow: 3px 3px #81bedb;
                }
            }
        }  
        .FirstImg{
            width: 40%;
            height: 100vh;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            > img {
                width: 525px;
                height: 690px;
            }
        }
    }
}




.BoxWrap{
    width: 100%;
    padding: 128px 0;
    background: #B6DFD7;
    display: flex;
    align-items: center;
    justify-content: center;

    .dot{
        width: 100%;
        height: 100%;
        border-top: #83AA9C 10px dotted;
        border-bottom: #83AA9C 10px dotted;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        p{
            font-size: 24px;
            line-height: 70px;
            margin-left: 5%;
            
            span{
                color: #FAEEC6;
                letter-spacing: 10px;
                font-size: 36px;
                font-weight: 800;
            }
        }

        .IphoneWoman{
            width: 374px;
            height: 374px;
        }
    }
}



.UseBox{
    position: relative;
    width: 100%;
    height: 1200px;
    background: #FAEEC6;

    .UseTitle{
    display: flex;
    justify-content: center;

        h1 {
            position: relative;
            padding: 1rem 2rem calc(1rem + 10px);
            background: #F4A460;
            width: 370px;
            height: 50px;
            text-align: center;
            letter-spacing: 1rem;
            margin-top: 100px;
            color: #fff;
        }
        
        h1:before {
            position: absolute;
            top: -15px;
            left: -15px;
            width: 98%;
            height: 95%;
            content: '';
            border: 4px solid #fff;
        }
    }


    .BoardUse{
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 100px;

        h2 {
            position: relative;
            padding: 1rem 1rem;
            text-align: center;
            border: 3px solid #B6DFD7;
            border-radius: 0 10px 10px 10px;
        }

        h2:before {
            font-size: 20px;
            font-size: 2rem;
            position: absolute;
            top: -24px;
            left: -3px;
            height: 24px;
            padding: 0 1em;
            content: 'POINT';
            color: #fff;
            border-radius: 10px 10px 0 0;
            background: #B6DFD7;    
        }

        p{
            font-size: 20px;
            margin-top: 50px;
            /* line-height: 60px; */
        }
    }

    img{
        width: 300px;
        height: 320px;
    }


    .ScheduleUse{
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 100px;

        h2{
            position: relative;
            padding: 1rem 5rem;
            text-align: center;
            border: 3px solid #B6DFD7;
            border-radius: 0 10px 10px 10px;
        }

        h2:before {
            font-size: 10px;
            font-size: 1rem;
            position: absolute;
            top: -24px;
            left: -3px;
            height: 24px;
            padding: 0 1em;
            content: 'POINT';
            color: #fff;
            border-radius: 10px 10px 0 0;
            background: #B6DFD7;    
        }

        p{
            font-size: 20px;
            margin-top: 50px;
        }
    }
}



.triangle{
    width: 0;
    height: 0;
    background: #fff;
    border-style: solid;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
    border-top: 150px solid #FAEEC6;
    border-bottom: 0;    
}



.point{
    display: flex;
    justify-content: center;
    margin-top: 100px;

    h1 {
        position: relative;
        padding: 1rem 2rem calc(1rem + 10px);
        background: #FAEEC6;
        width: 250px;
        height: 50px;
        text-align: center;
        letter-spacing: 1rem;
    }
    
    h1:before {
        position: absolute;
        top: -15px;
        left: -15px;
        width: 98%;
        height: 95%;
        content: '';
        border: 4px solid #000;
    }
}



.BoardBox{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-left: 10%;
    margin-top: 100px;

    h2 {
        position: relative;
        overflow: hidden;
        padding: 1rem 1rem 1rem 150px;
        border: 2px solid #000;
        font-size: 32px;
        width: 15rem;
        border-radius: 10px;
        color: #000;
    }

    h2:before {
        position: absolute;
        top: -150%;
        left: -100px;
        width: 200px;
        height: 300%;
        content: '';
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
        background: #000;
    }

    h2 span {
        font-size: 30px;
        font-size: 3rem;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        padding-top: 3px;
        padding-left: 16px;
        color: #fff;
    }

    p{
        font-size: 20px;
        line-height: 60px;
    }
}

.ScheduleBox{
    display: flex;
    justify-content: center;
    margin-left: 9%;
    gap: 100px;
    margin-top: 100px;

    h2 {
        position: relative;
        overflow: hidden;
        padding: 1rem 1rem 1rem 100px;
        border: 2px solid #000;
        font-size: 32px;
        width: 20rem;
        border-radius: 10px;
        color: #000;
        }

    h2:before {
        position: absolute;
        top: -150%;
        left: -100px;
        width: 200px;
        height: 300%;
        content: '';
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
        background: #000;
        }

    h2 span {
        font-size: 30px;
        font-size: 3rem;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        padding-top: 3px;
        padding-left: 16px;
        color: #fff;
    }    

    
    p{
        font-size: 20px;
        line-height: 60px;
        
    }
}

.ChatBox{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 250px;
    margin-bottom: 150px;

    h2{
        position: relative;
        overflow: hidden;
        padding: 1rem 1rem 1rem 150px;
        border: 2px solid #000;
        font-size: 32px;
        width: 15rem;
        border-radius: 10px;
        color: #000;
    }

    h2:before {
        position: absolute;
        top: -150%;
        left: -100px;
        width: 200px;
        height: 300%;
        content: '';
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
        background: #000;
        }

    h2 span {
        font-size: 30px;
        font-size: 3rem;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        padding-top: 3px;
        padding-left: 16px;
        color: #fff;
    }    
    
    p{
        font-size: 20px;
        line-height: 60px;
    }
}


footer{
    width: 100%;
    padding: 50px 0;
    background: #B6DFD7; 
    display: flex;
    justify-content: center;
    align-items: center;


    .DownloadBox{
        border-top: #83AA9C 10px dotted;
        border-bottom: #83AA9C 10px dotted;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        h3{
            position: relative;
            padding: 1rem 2rem 1rem 6em;
            background: #FAEEC6;
            border-radius: 10px;
            margin-bottom: 30px;
        }
        
        h3 span {
            position: absolute;
            top: -10px;
            left: 20px;
            display: inline-block;
            width: 37px;
            height: 50px;
            text-align: center;
            background: #F4A460;
        }
        
        h3 span:before,
        h3 span:after {
            position: absolute;
            content: '';
        }
        
        h3 span:before {
            right: -10px;
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #d90606;
        }
        
        h3 span:after {
            top: 50%;
            left: 0;
            display: block;
            height: 50%;
            border: 1em solid #F4A460;
            border-bottom-width: 15px;
            border-bottom-color: transparent;
        }


        .google{
            height: 50px;
            
        }
        .apple{
            height: 50px;
            margin-right: 4em;
        }
    }

    .logo{

        img{
            filter: drop-shadow(0px 0px 3px #00000080);
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
